<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>USER CARD</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header ">
          <p class="navbar-brand">CUPID BOOK</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a href="/register">SIGN UP</a></li>
            <li><a href="/admin">ADMIN</a></li>
            <li><a href="/contact">CONTACT ME</a></li>
          </ul>
      </div>

    </nav>

    <body>
      <div class="container">
