<%- include("Partials/header") -%>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>About</h1>
      <p><%=aboutcontents %></p>
    </div>
    <div class="col-md-4">
      <img src="https://media.licdn.com/dms/image/D5603AQEUflPPVIFmYA/profile-displayphoto-shrink_200_200/0/1676789029401?e=1686787200&v=beta&t=1TUgozaSNqfgwI_A-Z_1C2n9wU7Pfl215vTa2g69RDM" alt="profile picture" class="img-responsive circular-image">
    </div>
  </div>
</div>

<%- include("Partials/footer") -%>

<style>
    .circular-image {
      border-radius: 50%;
    }
    </style>