<!-- admin.ejs -->
<%- include("Partials/header") -%>
<form method="POST" action="/admin">
  <h2>Admin-Login</h2>
    <label>Password:</label>
    <input type="password" name="password">
    <button type="submit">Submit</button>
  </form>
<%- include("Partials/footer") -%>