<%- include("Partials/header") -%>
<h1>Contacts</h1>
<p><%=contactcontents %></p>
<a href="/about">CONTACT ME</a>

<div class="contact-icons">
  <a href="https://www.instagram.com/_hawk_._/" target="_blank"><i class="fab fa-instagram icons"></i></a>
  <a href="mailto:thenamudhan111@gmail.com"><i class="far fa-envelope icons"></i></a>
  <a href="https://www.linkedin.com/in/yourlinkedinprofile/" target="_blank"><i class="fab fa-linkedin icons"></i></a>
  <a href="https://wa.me/+917010864015?text=Feedback" target="_blank"><i class="fab fa-whatsapp icons"></i></a>
</div>

<div class="feedback-form">
  <h2>Send FeedBack OR Hire Me</h2>
  <form action="https://wa.me/+917010864015" method="get" target="_blank">
    <input type="text" name="text" placeholder="Type your feedback here...">
    <input type="submit" value="Send">
  </form>
</div>

<%- include("Partials/footer") -%>
